<html>
	<head>
		<title>yujiayan's blog</title>
	</head>
	<body>
	    <div>
	    	<h1><a href="">django blog</a></h1>
	    </div>

	    <div>
	    	<p>
	    		published:14.06.2017, 13:14
	    	</p>
	    	<h2><a href="">my first post</a></h2>
	    	<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis v</p>
	    </div>

	    <div>
	    	<p>published:14.06.2017,12:14</p>
	    	<h2><a href="">my second post</a></h2>
	    	<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis v</p>
	    </div>
	</body>
</html>
